@media screen and (min-width: 375px) {
    html {
        /* iPhone6的375px尺寸作为16px基准，414px正好18px大小, 600 20px */
        font-size: calc(100% + 2 * (100vw - 375px) / 39);
        font-size: calc(16px + 2 * (100vw - 375px) / 39);
    }
}

@media screen and (min-width: 414px) {
    html {
        /* 414px-1000px每100像素宽字体增加1px(18px-22px) */
        font-size: calc(112.5% + 4 * (100vw - 414px) / 586);
        font-size: calc(18px + 4 * (100vw - 414px) / 586);
    }
}

@media screen and (min-width: 600px) {
    html {
        /* 600px-1000px每100像素宽字体增加1px(20px-24px) */
        font-size: calc(125% + 4 * (100vw - 600px) / 400);
        font-size: calc(20px + 4 * (100vw - 600px) / 400);
    }
}

@media screen and (min-width: 1000px) {
    html {
        /* 1000px往后是每100像素0.5px增加 */
        font-size: calc(137.5% + 6 * (100vw - 1000px) / 1000);
        font-size: calc(22px + 6 * (100vw - 1000px) / 1000);
    }
}

.navbar {
    border: none;
    background: rgba(255, 255, 255, 0.8);
    border-radius: 0;
}

.activeColor {
    color: #fb8b38!important;
}

.navbar-nav>li>a:hover {
    color: #fb8b38!important;
}

.posa {
    position: absolute;
    top: 0;
    left: 0;
}

.item img,
.carousel-inner,
.item {
    width: 100%;
    height: 100%!important;
}

.carousel-control.right {
    right: 0;
    left: auto;
    background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, .0001) 0, rgba(0, 0, 0, .1) 100%);
    background-image: -o-linear-gradient(left, rgba(0, 0, 0, .0001) 0, rgba(0, 0, 0, .1) 100%);
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, .0001)), to(rgba(0, 0, 0, .5)));
    background-image: linear-gradient(to right, rgba(0, 0, 0, .0001) 0, rgba(0, 0, 0, .1) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#80000000', GradientType=1);
    background-repeat: repeat-x;
    line-height: 100%;
}

.carousel-indicators li {
    display: inline-block;
    width: 10px;
    height: 10px;
    margin: 1px;
    text-indent: -999px;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0);
    border: 1px solid #fb8b38;
    border-radius: 10px;
}

.navbar-default .navbar-toggle {
    border-color: #fb8b38;
}

.navbar-toggle:hover {
    background-color: #fb8b38!important;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #fb8b38!important;
}

.navbar-default:hover.navbar-default .navbar-toggle .icon-bar {
    background-color: #fff;
}

.slide {
    height: 200px;
}

.carousel-indicators {
    position: absolute;
    bottom: -10px;
}


/* .navbar-nav>li>a {
    border-bottom: 2px solid #fb8b38;
} */

.navbar-default .navbar-nav>li>a {
    color: #333;
    font-size: 16px;
}

@media (min-width: 768px) {
    .navbar {
        width: 970px;
        margin: 0 auto;
    }
    .navbar-nav>li>a {
        padding: 50px 20px;
    }
    .slide {
        height: 700px;
    }
}

@media (min-width: 970px) {
    .img-boxs img {
        margin-top: 1rem;
    }
}

@media (max-width: 970px) {
    .navbar-nav>li:last-child {
        display: none;
    }
}

@media (min-width: 768px) {
    .navbar {
        border-radius: 0;
    }
}

.index-title {
    font-size: 1.2rem;
    margin-top: 3rem;
    color: #333;
}

.index-title-p {
    font-size: 0.8rem;
    margin-top: 1rem;
    color: #333;
}

.img-mr {
    margin-top: 1.4rem;
}

.icon-text {
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 0 20px #fff;
    margin-top: 1rem;
}

.icon-text i {
    font-size: 2.8rem;
    color: #333;
}

.icon-text h3 {
    font-size: 1rem;
    color: #333;
}

.icon-text p {
    font-size: 0.8rem;
    color: #333;
}

.img-bg {
    background: url(../images/u4_bg1.jpg)no-repeat;
    background-size: 100%;
}