@media screen and (min-width: 375px) {
    html {
        /* iPhone6的375px尺寸作为16px基准，414px正好18px大小, 600 20px */
        font-size: calc(100% + 2 * (100vw - 375px) / 39);
        font-size: calc(16px + 2 * (100vw - 375px) / 39);
    }
}

@media screen and (min-width: 414px) {
    html {
        /* 414px-1000px每100像素宽字体增加1px(18px-22px) */
        font-size: calc(112.5% + 4 * (100vw - 414px) / 586);
        font-size: calc(18px + 4 * (100vw - 414px) / 586);
    }
}

@media screen and (min-width: 600px) {
    html {
        /* 600px-1000px每100像素宽字体增加1px(20px-24px) */
        font-size: calc(125% + 4 * (100vw - 600px) / 400);
        font-size: calc(20px + 4 * (100vw - 600px) / 400);
    }
}

@media screen and (min-width: 1000px) {
    html {
        /* 1000px往后是每100像素0.5px增加 */
        font-size: calc(137.5% + 6 * (100vw - 1000px) / 1000);
        font-size: calc(22px + 6 * (100vw - 1000px) / 1000);
    }
}

.navbar {
    border: none;
    background: #fff;
    border-radius: 0;
}

.activeColor {
    color: #fb8b38!important;
}

.navbar-nav>li>a:hover {
    color: #fb8b38!important;
}

.posa {
    position: absolute;
    top: 0;
    left: 0;
}

.item img,
.carousel-inner,
.item {
    width: 100%;
    height: 100%!important;
}

.carousel-control.right {
    right: 0;
    left: auto;
    background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, .0001) 0, rgba(0, 0, 0, .1) 100%);
    background-image: -o-linear-gradient(left, rgba(0, 0, 0, .0001) 0, rgba(0, 0, 0, .1) 100%);
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, .0001)), to(rgba(0, 0, 0, .5)));
    background-image: linear-gradient(to right, rgba(0, 0, 0, .0001) 0, rgba(0, 0, 0, .1) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#80000000', GradientType=1);
    background-repeat: repeat-x;
    line-height: 100%;
}

.carousel-indicators li {
    display: inline-block;
    width: 10px;
    height: 10px;
    margin: 1px;
    text-indent: -999px;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0);
    border: 1px solid #fb8b38;
    border-radius: 10px;
}

.navbar-default .navbar-toggle {
    border-color: #fb8b38;
}

.navbar-toggle:hover {
    background-color: #fb8b38!important;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #fb8b38!important;
}

.navbar-default:hover.navbar-default .navbar-toggle .icon-bar {
    background-color: #fff;
}

.slide {
    height: 200px;
}

.carousel-indicators {
    position: absolute;
    bottom: -10px;
}


/* .navbar-nav>li>a {
    border-bottom: 2px solid #fb8b38;
} */

.navbar-default .navbar-nav>li>a {
    color: #333;
    font-size: 16px;
}

.navbar-brand {
    float: left;
    height: auto;
    /* padding: 15px 15px; */
    font-size: 18px;
    line-height: 20px;
    margin-top: -10px;
}

.banner {
    padding-top: 60px;
}

.coll-text1 {
    margin: 0;
    font-size: 1.4rem;
    text-align: center;
    color: #fb8b38;
    margin-top: 3rem;
}

.coll-text2 {
    margin: 0;
    font-size: 1.2rem;
    text-align: center;
    margin-top: 1rem;
}

.coll-box {
    width: 20%;
    height: auto;
    background: url(../images/cloud.png) no-repeat;
    background-size: 98% 3rem;
    float: left;
}

.coll-box>h5 {
    color: #333;
    font-size: 1rem;
    margin-top: 1.2rem;
}

.coll-box>h5 i {
    font-size: 0.8rem;
    margin-right: 0.1rem;
    margin-left: 0.1rem;
}

.coll-box>h5>span {
    font-size: 0.5rem;
}

.coll-box div span {
    display: block;
    font-size: 0.5rem;
}

.coll-box-s {
    margin-top: 1rem;
}

.collb {
    width: 100%;
    overflow: hidden;
}

.guanzhu-box {
    width: 8rem;
    height: 3rem;
    border-radius: 5px;
    border: 2px solid #fb8b38;
    text-align: center;
    line-height: 3rem;
    font-size: 0.8rem;
    cursor: pointer;
    margin: 2rem auto;
    font-weight: bold;
    position: relative;
}

.guanzhu-box:hover.guanzhu-box .guanzhu-boxs {
    height: 8rem;
    transform: rotate(1080deg);
    -ms-transform: rotate(1080deg);
    /* IE 9 */
    -webkit-transform: rotate(1080deg);
    /* Safari and Chrome */
}

.guanzhu-boxs {
    width: 8rem;
    height: 0rem;
    border-radius: 5px;
    overflow: hidden;
    position: absolute;
    top: -8.2rem;
    left: 0;
    box-shadow: 0 0 30px #999;
    transition: height 1s, width 1s, transform 1s;
    -webkit-transition: height 1s, width 1s transform 1s;
    background: #fff;
}

.guanzhu-boxs img {
    width: 100%;
    height: 100%;
}

.tabe {
    width: 100%;
    height: auto;
    margin: 0 auto;
}

.tabe-left {
    float: left;
    width: 20%;
    height: auto;
}

.tabe-left-box-gb {
    background: #fb8b38;
    color: #fff!important;
}

.tabe-right {
    float: left;
    width: 80%;
    height: auto;
    display: none;
}

.tabe-right-right {
    width: 50%;
    float: left;
    height: 100%;
}

.tabe-right-left {
    width: 50%;
    float: left;
    height: 100%;
}

.logo-block {
    border: 1px solid #ccc;
    margin-top: 1rem;
}

.logo-block {
    margin-bottom: 3px;
}

.logo-block {
    width: 100%;
    height: 100%;
}

.logo-block img {
    width: 100%;
    height: 99%;
}

.text-block ul {
    margin: 0;
    font-size: 0.8rem;
    line-height: 1rem;
}

.tabe-right-right>a {
    display: block;
    float: left;
    width: 40%;
    height: 3rem;
    text-align: center;
    line-height: 3rem;
    font-size: 0.8rem;
    color: #fff;
    background: #fb8b38;
    border-radius: 3px;
    margin-left: 5%;
    margin-top: 20px;
}

.text-block ul li {
    overflow: hidden;
    font-size: 0.4rem;
}

.text-block ul li strong {
    color: #443;
    font-size: 0.6rem;
}

.text-block ul li span {
    font-size: 0.6rem;
}

.text-block p {
    margin: 0.5rem 0;
    font-size: 0.4rem;
    line-height: 1rem;
    color: #646464;
}

.text-block p img {
    width: 100%;
    height: 100%;
}

.tabe-right-right img {
    display: block;
    float: left;
    width: 40%;
    height: 100%;
    margin-left: 5%;
    margin-top: 5%;
}

.tabe-left-box {
    width: 70%;
    height: 2.2rem;
    text-align: center;
    line-height: 2.2rem;
    border-radius: 5px;
    margin-top: 30px;
    margin-left: 25px;
    cursor: pointer;
    font-size: 0.7rem;
    color: #333;
}

.issue-center {
    width: 100%;
    height: auto;
}

.shoufenqing {
    width: 100%;
    height: auto;
    margin: 0 auto;
    overflow: hidden;
}

.shoufenqing-left {
    float: left;
    width: 40%;
    height: auto;
    background: #fff;
}

.shoufenqing-right {
    overflow: hidden;
    height: 100%;
}

.fq-boxs {
    width: 80%;
    margin: 0 auto;
    border: 1px solid #fb8b38;
    margin-top: 1.5rem;
    background: #fff;
}

.fq-box-1 span {
    display: inline-block;
    width: 100%;
    line-height: 1.4rem;
    font-size: 0.8rem;
    text-align: center;
    font-weight: bold;
    color: #333;
    border-bottom: 1px solid #fb8b38;
    cursor: pointer;
}

.shoufenqing-right-box {
    width: 100%;
    float: left;
    text-indent: 0.5rem;
    background: #fff;
    height: 100%;
}

.shoufenqing-right-box h1 {
    font-size: 0.8rem;
    color: #333;
    margin-top: 1.5rem;
}

.shoufenqing-right-box p {
    margin-top: 1rem;
    font-size: 0.6rem;
    color: #333;
    line-height: 1rem;
    letter-spacing: 0.1rem;
}

.shoufenqing-right-box {
    display: none;
}

.auto {
    height: 100%!important;
}

.bgc {
    background: #fb8b38;
    color: #fff!important;
}

.fq-box-1 ul {
    height: 0px;
    overflow: hidden;
    margin: 0;
}

.fq-box-1 ul li {
    line-height: 0.8rem;
    color: #333;
    font-size: 0.4rem;
    margin-top: 0.2rem;
    text-align: left;
    width: 100%;
    cursor: pointer;
}

.fc-understand-bg2 {
    background: #f0f0f0;
    width: 100%;
    overflow: hidden;
}

.fc-containner-1080 {
    margin: 0 auto;
    overflow: hidden;
    width: 100%;
    text-align: center;
}

.fc-under-title2 {
    color: #f28000;
    font-size: 2.5rem;
    margin-top: 2rem;
}

.fc-fazhan {
    font-size: 2rem;
    font-weight: 700;
    background: url(../images/fazhan.png) center bottom no-repeat;
    height: 2rem;
    line-height: 0.5rem;
    color: #6e6e6e;
}

.fc-all {
    overflow: hidden;
}

.fc-process {
    width: 11%;
    height: auto;
    background: #fff;
    float: left;
    margin-right: 0.8rem;
    margin-left: 0.5rem;
    color: #5f5f5f;
    font-size: 0.5rem;
    line-height: 1rem;
}

.fc-understand-bg3 {
    background: url(../images/fc-understand2.jpg) center center no-repeat;
    height: auto;
    overflow: hidden;
}

.fc-under-title3 {
    color: #f28000;
    margin: 0;
    font-size: 2rem;
    margin-top: 1rem;
}

.fc-fc {
    font-size: 1.4rem;
    font-weight: 700;
    background: url(../images/fazhan.png) bottom no-repeat;
    height: 3rem;
    line-height: 3rem;
    color: #6e6e6e;
    margin: 0;
}

.fc-fc-img {
    width: 100%;
    height: auto;
    margin-top: 1rem;
    margin-bottom: 2rem;
}

@media (min-width: 768px) {
    .fc-under-title3 {
        color: #f28000;
        margin: 0;
        font-size: 2rem;
        margin-top: 2rem;
    }
    .fc-fazhan {
        font-size: 2rem;
        font-weight: 700;
        background: url(../images/fazhan.png) center bottom no-repeat;
        height: 63px;
        line-height: 63px;
        color: #6e6e6e;
    }
    .fc-under-title2 {
        color: #f28000;
        font-size: 2.5rem;
        margin-top: 70px;
    }
    .fc-process {
        width: 12%;
        height: 300px;
        background: #fff;
        float: left;
        padding: 20px 17px;
        margin-right: 40px;
        color: #5f5f5f;
        font-size: 0.4rem;
        line-height: 1rem;
    }
    .shoufenqing-right-box {
        width: 100%;
        float: left;
        text-indent: 2rem;
        background: #fff;
        height: 100%;
    }
    .shoufenqing {
        width: 100%;
        height: 800px;
        margin: 0 auto;
        overflow: hidden;
    }
    .fq-box-1 ul li {
        line-height: 0.8rem;
        color: #333;
        font-size: 0.6rem;
        margin-top: 0.2rem;
        text-align: left;
        padding-left: 14px;
        width: 100%;
        cursor: pointer;
    }
    .shoufenqing-left {
        float: left;
        width: 30%;
        height: auto;
        background: #fff;
    }
    .navbar {
        border: none;
        background: rgba(255, 255, 255, .7);
        border-radius: 0;
    }
    .text-block p {
        margin: 0.5rem 0;
        font-size: 0.4rem;
        line-height: 20px;
        color: #646464;
    }
    .tabe-left-box {
        width: 70%;
        height: 2.2rem;
        text-align: center;
        line-height: 2.2rem;
        border-radius: 15px;
        margin-top: 30px;
        margin-left: 25px;
        cursor: pointer;
        font-size: 0.8rem;
        color: #333;
    }
    .text-block p {
        margin: 1rem 0;
        font-size: 0.4rem;
        line-height: 20px;
        color: #646464;
    }
    .text-block ul li {
        overflow: hidden;
        margin-top: 6px;
        font-size: 0.4rem;
    }
    .collb {
        width: 100%;
        overflow: hidden;
        margin-top: 2rem;
    }
    .navbar {
        width: 970px;
        margin: 0 auto;
    }
    .navbar-nav>li>a {
        padding: 50px 20px;
    }
    .navbar-nav>li:nth-child(1) {
        padding: 0px 0px 0px 90px;
    }
    .slide {
        height: 700px;
    }
    .img-boxs h3 {
        font-size: 1.4rem!important;
        margin-top: 1rem;
        color: #333;
        font-weight: bold;
        line-height: 20px;
        margin-bottom: 0;
    }
    .navbar-brand {
        float: left;
        height: auto;
        /* padding: 15px 15px; */
        font-size: 18px;
        line-height: 20px;
        margin-top: 24px;
    }
    .banner {
        padding-top: 0px;
    }
    .coll-box {
        width: 20%;
        height: auto;
        background: url(../images/cloud.png) no-repeat;
        background-size: 98%;
        float: left;
    }
    .coll-box>h5 {
        color: #333;
        font-size: 1rem;
        text-indent: 0.4rem;
        margin-bottom: 1rem;
    }
    .coll-box>h5>span {
        font-size: 0.6rem;
    }
    .coll-box div span {
        display: block;
        font-size: 0.6rem;
    }
    .guanzhu-box {
        width: 8rem;
        height: 3rem;
        border-radius: 5px;
        border: 2px solid #fb8b38;
        text-align: center;
        line-height: 3rem;
        font-size: 0.8rem;
        cursor: pointer;
        margin: 4rem auto;
    }
    .lianxi-boxs h5 {
        text-indent: 1.4rem;
        font-size: 0.6rem;
        line-height: 1rem;
        color: #333;
    }
    .lianxi-boxs div span {
        text-indent: 1.4rem;
        line-height: 1rem;
        display: block;
        font-size: 0.4rem;
        color: #333;
    }
    .lianxi-box h3 {
        font-size: 1.4rem;
        text-align: center;
        color: #333;
        margin-top: 3rem!important;
    }
    .lianxi-box h4 {
        font-size: 1rem;
        text-align: center;
        color: #333;
        margin-top: 1rem!important;
    }
    .lianxi-boxs {
        border: 1px solid #fff;
        border-radius: 5px;
        margin: 5rem 0!important;
    }
    .lianxi-boxs {
        border: 1px solid #fff;
        border-radius: 5px;
        margin: 5rem 0!important;
    }
}

@media (min-width: 970px) {}

@media (max-width: 970px) {
    .navbar-nav>li:last-child {
        display: none;
    }
}

@media (min-width: 768px) {
    .navbar {
        border-radius: 0;
    }
    .img-boxs img {
        max-width: 70%!important;
    }
}

.index-title {
    font-size: 1.2rem;
    margin-top: 3rem;
    color: #333;
}

.index-title-p {
    font-size: 0.8rem;
    margin-top: 1rem;
    color: #333;
}

.img-mr {
    margin-top: 1.4rem;
}

.icon-text {
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 0 20px #fff;
    margin-top: 1rem;
}

.icon-text i {
    font-size: 2.8rem;
    color: #333;
}

.icon-text h3 {
    font-size: 1rem;
    color: #333;
}

.icon-text p {
    font-size: 0.8rem;
    color: #333;
}

.img-boxs img {
    width: 100%;
    height: auto;
    margin-top: 2rem;
    max-width: 60%;
}

.bb-box {
    width: 100%;
    background: url(../images/u4_bg1.jpg)no-repeat;
    background-size: 100% 120%;
    background-position: 0px;
    /* zoom: 120%; */
}

.bar {
    position: absolute;
    margin-top: 1rem;
    left: 50%;
    margin-left: -2.8rem;
    width: 5.6rem;
    height: 3px;
    background: #fb8b38;
}

.img-boxs h3 {
    font-size: 1.6rem;
    margin-top: 1rem;
    color: #333;
    font-weight: bold;
    line-height: 20px;
    margin-bottom: 0;
}

.bb-box-img-bg1 {
    width: 100%;
    background: url(../images/feature-bg.jpg)no-repeat;
    background-size: 100% 140%;
}

.index-icon-box {
    width: 100%;
    float: left;
    margin-top: 1rem;
}

.imgi-box {
    width: 40%;
    margin: 0 auto;
    margin-top: 5rem;
    margin-bottom: 1rem;
    position: relative;
}

.imgi-box>img {
    top: 0;
    left: 0;
}

.fc-u4__phone .big-circle {
    width: 5rem;
    height: 5rem;
    margin-left: -2.5rem;
    margin-top: -2.5rem;
    background: url(../images/big-circle.png) no-repeat;
    background-size: 100%;
    animation: mymove 2s infinite;
    -webkit-animation: mymove 2s infinite;
}

.small-circle {
    width: 5rem;
    height: 5rem;
    margin-left: -2.5rem;
    margin-top: -2.5rem;
    background: url(../images/small-circle.png) no-repeat;
    background-size: 100%;
    animation: mymoves 2s infinite;
    -webkit-animation: mymoves 2s infinite;
}

.circle-center {
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    margin-left: -1.5rem;
    margin-top: -1.5rem;
    background: url(../images/a40.jpg) no-repeat;
    background-size: 100%;
    cursor: pointer;
}

.lianxi {
    width: 100%;
    height: auto;
    background: url(../images/2.jpg)no-repeat;
    background-size: 100% 100%;
    background-position: 0;
}

.lianxi-box h3 {
    font-size: 1.4rem;
    text-align: center;
    color: #333;
    margin-top: 1rem;
}

.lianxi-box h4 {
    font-size: 1rem;
    text-align: center;
    color: #333;
    margin-top: 0.5rem;
}

.lianxi-boxs {
    border: 1px solid #fff;
    border-radius: 5px;
    margin: 2rem 0;
}

.lianxi-boxs h5 {
    font-size: 0.6rem;
    color: #333;
}

.lianxi-boxs div span {
    display: block;
    font-size: 0.4rem;
    color: #333;
}

.ad {
    padding: 0 0.2rem;
}


/*Safari 和 Chrome:*/

@-webkit-keyframes mymove {
    0% {
        transform: rotate(-0deg)
    }
    5% {
        transform: rotate(-18deg)
    }
    10% {
        transform: rotate(-36deg)
    }
    15% {
        transform: rotate(-54deg)
    }
    20% {
        transform: rotate(-72deg)
    }
    25% {
        transform: rotate(-90deg)
    }
    30% {
        transform: rotate(-108deg)
    }
    35% {
        transform: rotate(-126deg)
    }
    40% {
        transform: rotate(-144deg)
    }
    45% {
        transform: rotate(-162deg)
    }
    50% {
        transform: rotate(-180deg)
    }
    55% {
        transform: rotate(-198deg)
    }
    60% {
        transform: rotate(-216deg)
    }
    65% {
        transform: rotate(-234deg)
    }
    70% {
        transform: rotate(-252deg)
    }
    75% {
        transform: rotate(-270deg)
    }
    80% {
        transform: rotate(-288deg)
    }
    85% {
        transform: rotate(-306deg)
    }
    90% {
        transform: rotate(-324deg)
    }
    95% {
        transform: rotate(-342deg)
    }
    100% {
        transform: rotate(-360deg)
    }
}

@keyframes mymoves {
    0% {
        transform: rotate(0deg)
    }
    5% {
        transform: rotate(18deg)
    }
    10% {
        transform: rotate(36deg)
    }
    15% {
        transform: rotate(54deg)
    }
    20% {
        transform: rotate(72deg)
    }
    25% {
        transform: rotate(90deg)
    }
    30% {
        transform: rotate(108deg)
    }
    35% {
        transform: rotate(126deg)
    }
    40% {
        transform: rotate(144deg)
    }
    45% {
        transform: rotate(162deg)
    }
    50% {
        transform: rotate(180deg)
    }
    55% {
        transform: rotate(198deg)
    }
    60% {
        transform: rotate(216deg)
    }
    65% {
        transform: rotate(234deg)
    }
    70% {
        transform: rotate(252deg)
    }
    75% {
        transform: rotate(270deg)
    }
    80% {
        transform: rotate(288deg)
    }
    85% {
        transform: rotate(306deg)
    }
    90% {
        transform: rotate(324deg)
    }
    95% {
        transform: rotate(342deg)
    }
    100% {
        transform: rotate(360deg)
    }
}


/*Safari 和 Chrome:*/

@-webkit-keyframes mymoves {
    0% {
        transform: rotate(0deg)
    }
    5% {
        transform: rotate(18deg)
    }
    10% {
        transform: rotate(36deg)
    }
    15% {
        transform: rotate(54deg)
    }
    20% {
        transform: rotate(72deg)
    }
    25% {
        transform: rotate(90deg)
    }
    30% {
        transform: rotate(108deg)
    }
    35% {
        transform: rotate(126deg)
    }
    40% {
        transform: rotate(144deg)
    }
    45% {
        transform: rotate(162deg)
    }
    50% {
        transform: rotate(180deg)
    }
    55% {
        transform: rotate(198deg)
    }
    60% {
        transform: rotate(216deg)
    }
    65% {
        transform: rotate(234deg)
    }
    70% {
        transform: rotate(252deg)
    }
    75% {
        transform: rotate(270deg)
    }
    80% {
        transform: rotate(288deg)
    }
    85% {
        transform: rotate(306deg)
    }
    90% {
        transform: rotate(324deg)
    }
    95% {
        transform: rotate(342deg)
    }
    100% {
        transform: rotate(360deg)
    }
}

.big-circle,
.circle-center,
.small-circle {
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 2;
}

.toufanga h3 {
    margin: 0;
    margin-top: 1rem;
    font-weight: bold;
    font-size: 1.6rem;
}

.index-icon-box i {
    width: 3rem;
    height: 3rem;
    border-radius: 5px;
    color: #fff;
    font-size: 2rem;
    float: left;
    text-align: center;
    line-height: 3rem;
    background: -webkit-radial-gradient(#fc8b37 5%, #fa8e3f 15%, #f9aa6f 60%);
    background: -o-radial-gradient(#fc8b37 5%, #fa8e3f 15%, #f9aa6f 60%);
    background: -moz-radial-gradient(#fc8b37 5%, #fa8e3f 15%, #f9aa6f 60%);
    background: radial-gradient(#fc8b37 5%, #fa8e3f 15%, #f9aa6f 60%);
}

.index-icon-box h3 {
    font-size: 1rem;
    margin-top: 0;
    margin-bottom: 0;
    line-height: 1.4rem;
    color: #333;
    text-indent: 0.5rem;
}

.index-icon-box p {
    font-size: 0.8rem;
    margin-top: 0;
    margin-bottom: 0;
    line-height: 1.4rem;
    color: #333;
    text-indent: 0.5rem;
}

.bb-box-img-bg2 {
    width: 100%;
    background: url(../images/ad-bg1.jpg)no-repeat;
    background-size: 100% 140%;
}

.toufang>h3 {
    margin: 0;
    color: #333;
    font-size: 1.6rem;
    line-height: 2rem;
    margin-top: 3rem;
    font-weight: bold;
}

.toufang>p {
    margin: 0;
    color: #333;
    font-size: 0.8rem;
    margin-top: 2rem;
}

.toufang>a {
    width: 10rem;
    height: 3rem;
    background: #fb8b38;
    color: #fff;
    text-align: center;
    line-height: 3rem;
    display: block;
    font-size: 0.8rem;
    margin: 0 auto;
    border-radius: 5px;
    margin-top: 3rem;
    margin-bottom: 4rem;
}

.pingpai h3 {
    margin: 0;
    color: #333;
    font-size: 1.6rem;
    line-height: 2rem;
    margin-top: 3rem;
    font-weight: bold;
}

.pingpai img {
    margin: 3rem auto;
}

.footer-box {
    background: #fcfcfc;
}

.footer-box a {
    color: #333;
    font-size: 0.6rem;
    display: inline-block;
    width: 18%;
    text-align: center;
    line-height: 2rem;
}

.footer-box p {
    font-size: 0.4rem;
    color: #333;
    line-height: 2rem;
}